* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
  margin: 0;
  border: 0;
}

.ori_price {
  width: 40px;
}
.order_num {
  width: 60px;
}

table {
  font-size: 13px;
  border-collapse: collapse;
}

thead {
  font-weight: bold;
  background-color: darkgray;
}

table.order thead tr th:nth-child(14), 
table.order thead tr th:nth-child(15), 
table.order thead tr th:nth-child(16),
table.order thead tr th:nth-child(17) {
  background-color: yellow;
}

table.order thead tr th:nth-child(4) {
  width: 120px;
}

table.order thead tr th:nth-child(7) {
  text-align: center;
  width: 50px;
}

table.buying thead th {
  border: 1px solid black;
}

table tbody tr {
  border-bottom: 1px solid gray;
}

table.order tbody tr:nth-child(even) { 
  background-color: #f4f5f8; 
} 

table.buying tbody tr:nth-child(3n-2) td:nth-child(2) { 
  background-color: #ceced1a9; 
} 

tbody tr td {
  border: 1px solid gray; 
}

table.order tbody tr td:nth-child(8) {
  text-align: center;
}

button {
  margin: 5px 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

